@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&family=Libertinus+Serif:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
 font-family: "Libertinus Sans", sans-serif;
}

/* color codes  */
/* @theme{} */

body{
    background-color:#090908 ;
    color: white;
}